body {
    font-family: "Lato", sans-serif;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.heading-primary {
    color: var(--color-gray-light-1);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    }
}

.heading-secondary {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient( to right, var(--color-primary-light), var(--color-primary-dark));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    &:hover {
        text-shadow: 0.5rem 1rem 2rem rgba(var(--color-black), 0.2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}