
    <div class="header" style="background-color: rgba(0, 0, 0, 1);">
        <div class="header__brand">
            <div class="header__brand__logo">
                <img src="img/logo.png" class="header__brand__logo--img" alt="brand_logo">
            </div>
            <div class="header__brand__name__header">labour
                <span class="header__brand__name__header--title">chowk</span>
            </div>
        </div>
        <div class="header__navbar">
            <div class="header__navbar__btn">
                <a class="header__navbar__btn--text" href="/">Home</a>
            </div>
            <div class="header__navbar__btn">
                <a class="header__navbar__btn--text" href="#">About us</a>
            </div>
            <div class="header__navbar__btn">
                <a class="header__navbar__btn--text" href="/#Feature">Our Customers</a>
            </div>
            <div class="header__navbar__btn">
                <a class="header__navbar__btn--text" href="#footer">Contact Us</a>
            </div>
            <!-- <div class="header__navbar__btn">
                <a class="header__navbar__btn--text" href="#">Home</a>
            </div> -->
            
        </div>
        <div class="header__search_action_home">
            <!-- <p class="heading-tertiary u-margin-bottom-small">PIN CODE</p> -->
            <input type="text" class="header__search_action_home--box" placeholder=" Enter text" id="xyz" name="xyz" minlength="3" maxlength="12">
            <div class="header__search_action_home--iconq"><i class="fa fa-search header__search_action_home--icon" aria-hidden="true"></i></div>
        </div>
    </div>


    

</div>