<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/836abe09ea.js" crossorigin="anonymous"></script>
    <title>Users</title>
</head>

<body>
    <section class="profile_section ">
        <div class="selecting_container">
            <div class="filters">
                <p class="heading-tertiary--2 u-margin-bottom-medium">Filters</p>
                <div class="work_type_container">
                    <p class="heading-tertiary u-margin-bottom-small">Work Type</p>
                    <div class="r_btn">
                        <input type="radio" id="carpentery" name="work_type" value="carpentery">
                        <label class="paragraph" for="carpentery">Carpentery</label>
                    </div>
                    <div class="r_btn">
                        <input type="radio" id="raj_mistri" name="work_type" value="raj_mistri">
                        <label class="paragraph" for="raj_mistri">Raj Mistri</label>
                    </div>
                    <div class="r_btn">
                        <input type="radio" id="roof_molding" name="work_type" value="roof_molding">
                        <label class="paragraph" for="roof_molding">Roof Molding</label>
                    </div>
                    <div class="r_btn">
                        <input type="radio" id="painting" name="work_type" value="painting">
                        <label class="paragraph" for="painting">Painting</label>
                    </div>
                    <div class="r_btn">
                        <input type="radio" id="plumbing" name="work_type" value="plumbing">
                        <label class="paragraph" for="plumbing">Plumbing</label>
                    </div>
                    <div class="r_btn">
                        <input type="radio" id="electrition" name="work_type" value="electrition">
                        <label class="paragraph" for="electrition">Electrition</label>
                    </div>
                    <div class="r_btn">
                        <input type="radio" id="any" name="work_type" value="any">
                        <label class="paragraph" for="any">Any</label>
                    </div>
                </div>

                <div class="price_container">
                    <p class="heading-tertiary u-margin-bottom-small">Price</p>
                    <div class="c_box">
                        <input type="checkbox" id="300" name="300">
                        <label class="paragraph" for="300">200-300</label>
                    </div>
                    <div class="c_box">
                        <input type="checkbox" id="400" name="400">
                        <label class="paragraph" for="400">300-400</label>
                    </div>
                    <div class="c_box">
                        <input type="checkbox" id="500" name="500">
                        <label class="paragraph" for="500">400-500</label>
                    </div>
                    <div class="c_box">
                        <input type="checkbox" id="600" name="600">
                        <label class="paragraph" for="600">500-600</label>
                    </div>
                </div>

                <div class="rating_container">
                    <p class="heading-tertiary u-margin-bottom-small">Ratings</p>
                    <div class="c_box">
                        <input type="checkbox" id="5" name="5">
                        <label for="5">
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                        </label>
                    </div>
                    <div class="c_box">
                        <input type="checkbox" id="4" name="4">
                        <label for="4">
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                        </label>
                    </div>
                    <div class="c_box">
                        <input type="checkbox" id="3" name="3">
                        <label for="3">
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                        </label>
                    </div>
                    <div class="c_box">
                        <input type="checkbox" id="2" name="2">
                        <label for="2">
                            <i class="fa-solid fa-star star_c_r"></i>
                            <i class="fa-solid fa-star star_c_r"></i>
                        </label>
                    </div>
                    <div class="c_box">
                        <input type="checkbox" id="1" name="1">
                        <label for="1"><i class="fa-solid fa-star star_c_r"></i></label>
                    </div>
                </div>

                <div class="search_container">
                    <p class="heading-tertiary u-margin-bottom-small">PIN CODE</p>
                    <div class="s_box">
                        <input type="number" placeholder="Enter your pin" id="pin_code" name="pin_code" minlength="6" maxlength="6">
                        <button class="s_box_btn">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="profile_container "> -->
        <div class="profile-container ">
            <div class="profile_basic ">
                <div class="img_container ">
                    <img src="https://media.istockphoto.com/photos/young-man-at-carpentry-cutting-wood-and-using-digital-tablet-picture-id1311311996?s=612x612 " class="user-img " />
                </div>
                <div class="u-margin-bottom-medium profile-info ">
                    <p class="heading-secondary--2 ">Javed Charlie</p>
                    <!-- <p class="email"><i>email@dmain.com</i></p> -->
                </div>
            </div>

            <div class="profile_more-info u-margin-top-big ">
                <div class="col_left ">
                    <p class="heading-tertiary ">Work</p>
                    <p class="paragraph ">Carpentery</p>
                </div>
                <div class="col_right ">
                    <p class="heading-tertiary ">Wage</p>
                    <p class="paragraph ">₹ 400</p>
                </div>
            </div>

            <div class="profile_more-info u-margin-top-medium ">
                <div class="col_left ">
                    <p class="heading-tertiary ">Work Experience</p>
                    <p class="paragraph ">5yrs</p>
                </div>
                <div class="col_right ">
                    <p class="heading-tertiary ">Phone Number</p>
                    <p class="paragraph ">+91 8613 452 145</p>
                </div>
            </div>

            <div class="profile_more-info u-margin-top-medium ">
                <div class="col_left ">
                    <p class="heading-tertiary ">PIN CODE</p>
                    <p class="paragraph ">897-654</p>
                </div>
                <div class="col_right ">
                    <div class="heading-tertiary ">Aadhar</div>
                    <p class="paragraph ">8613 4521 1245</p>
                </div>
            </div>


            <!-- <div class="profile_btn u-margin-top-big ">
                <div class="profile_btn_edit ">
                    <a href="# ">
                        <i class="fa fa-pencil-square-o profile_btn_edit_icon "></i>
                        <span class="profile_btn_edit_text ">Edit Info</span>
                    </a>
                </div>
                <div class="profile_btn_logout ">
                    <a href="# ">
                        <i class="fa fa-frown-o profile_btn_logout_icon "></i>
                        <span class="profile_btn_logout_text ">Logout</span>
                    </a>
                </div>
            </div> -->

            <!-- <p class="text-center ">Created By <i>Syrian Arts</i></p> -->
        </div>

        <!-- </div> -->
    </section>
</body>

</html>