@charset "UTF-8";
:root {
  --color-primary: #ca6c13;
  --color-primary-light: #eeb845;
  --color-primary-dark: #925a06;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-black: black;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-mid: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  padding: 0;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 70%; } }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 65%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 55%; } }
  @media screen and (max-width: 31.25em) {
    html {
      font-size: 50%; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 2rem !important; }
  @media screen and (max-width: 68.75em) {
    .u-margin-top-medium {
      margin-top: 1.5rem !important; } }

.u-margin-top-big {
  margin-top: 5rem !important; }
  @media screen and (max-width: 68.75em) {
    .u-margin-top-big {
      margin-top: 4rem !important; } }
  @media screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 2rem; } }

.u-margin-top-huge {
  margin-top: 9rem !important; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.heading-primary {
  color: var(--color-gray-light-1);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(var(--color-black), 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn-primary, .btn-primary:link, .btn-primary:visited {
  cursor: pointer !important;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(12, 12, 12, 0.4), black); }
  @media screen and (max-width: 56.25em) {
    .btn-primary, .btn-primary:link, .btn-primary:visited {
      padding: .7rem 1rem;
      font-size: 1rem; } }

.btn-secondary--light, .btn-secondary--light:link, .btn-secondary--light:visited {
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.7rem 1.3rem;
  color: #2f68ec;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.1rem 0.12rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s; }

.btn-secondary--light:active {
  color: #000;
  transform: translateY(0.1rem);
  box-shadow: 0rem 0rem rgba(0, 0, 0, 0.5); }

.footer {
  padding: 4rem 7rem 1rem 6rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem; }
  .footer .footer__container {
    display: flex;
    gap: 3rem;
    justify-content: space-between; }
    @media screen and (max-width: 37.5em) {
      .footer .footer__container {
        flex-wrap: wrap;
        padding: 1rem; } }
    .footer .footer__container .header__brand__name__footer {
      font-size: 4rem;
      font-weight: 600;
      line-height: 0.8;
      color: var(--color-white); }
      .footer .footer__container .header__brand__name__footer--title {
        color: var(--color-primary-dark); }
    .footer .footer__container__about {
      width: 50%;
      margin-left: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem; }
      @media screen and (max-width: 37.5em) {
        .footer .footer__container__about {
          flex-wrap: wrap;
          width: 100%;
          margin-left: 1rem; } }
      .footer .footer__container__about--text {
        color: var(--color-white);
        font-size: 1.7rem; }
    .footer .footer__container__contact {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: var(--color-white);
      font-size: 1.5rem; }
      @media screen and (max-width: 37.5em) {
        .footer .footer__container__contact {
          flex-wrap: wrap;
          width: 100%;
          padding: 1rem; } }
      .footer .footer__container__contact__heading {
        font-size: 2.7rem; }
      .footer .footer__container__contact__link, .footer .footer__container__contact__link:active, .footer .footer__container__contact__link:visited {
        text-decoration: none;
        color: inherit; }
  .footer .social_media {
    display: flex;
    gap: 3rem; }
  .footer .icon {
    transition: all 0.2s;
    height: 3rem;
    fill: white; }
    .footer .icon:hover {
      transform: translateY(-0.15rem);
      transform: scale(1.2); }
    .footer .icon-facebook:hover {
      fill: #0066ff; }
    .footer .icon-whatsapp:hover {
      fill: #02af11; }
    .footer .icon-insta:hover {
      fill: #f54b67; }
    .footer .icon-mail:hover {
      fill: #cf0a0a; }
    .footer .icon-twitter:hover {
      fill: #1e7fee; }
    .footer .icon-youtube:hover {
      fill: red; }

.hr__line {
  background-color: #776565;
  height: 1px;
  width: 83vw; }

.company_logo {
  width: 3rem; }

.copyright {
  margin-top: -2rem;
  font-size: 1.7rem;
  color: var(--color-white);
  font-family: "lato";
  font-style: italic; }
  @media screen and (max-width: 37.5em) {
    .copyright {
      width: 110%; } }

.home_container {
  background-image: linear-gradient(145deg, transparent 38%, #1a1919 0%, #222121 50%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  z-index: -1000; }

.top_bar {
  position: absolute;
  font-size: 3rem;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  gap: 5rem; }
  .top_bar_left {
    color: white;
    display: flex;
    align-items: center; }
    .top_bar_left_logo {
      width: 1.5rem; }
    .top_bar_left_text {
      font-size: 1.5rem; }

.company_branding {
  width: 63vw; }

.company_name {
  font-size: 2.5rem;
  font-weight: 600; }

.company_logo {
  width: 4rem; }

.nav_bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-light);
  position: absolute;
  z-index: 2;
  top: 9vh;
  left: 15vw;
  font-size: 1.8rem;
  width: 70vw;
  background-color: white;
  border-radius: 0.5rem; }
  .nav_bar_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .nav_bar_item {
    padding: 0.7rem;
    margin-left: 3rem; }
  .nav_bar_btn {
    color: black;
    background-color: #e2c183;
    padding: 0.7rem 2rem; }

.home {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 6vw;
  left: 5vw;
  width: 90vw;
  height: 65vh;
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
  background-image: linear-gradient(120deg, #e2c183 47%, white 47%, white 55%, transparent 55%); }
  .home_background {
    align-items: flex-end;
    width: 50%;
    background: url(https://ngosparsh.files.wordpress.com/2015/05/labour-in-india.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    border-radius: 1rem;
    min-width: 90vw;
    min-height: 70vh; }
  .home_right {
    padding: 5rem;
    width: 40%;
    color: white; }
    .home_right_text {
      font-size: 3rem;
      margin-bottom: 3rem; }
    .home_right_btn {
      cursor: pointer;
      display: inline;
      margin-right: 1rem; }
      .home_right_btn, .home_right_btn:link, .home_right_btn:visited {
        cursor: pointer !important;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2rem;
        border-radius: 10rem;
        font-weight: 700;
        color: #fff;
        background-image: linear-gradient(to bottom, rgba(12, 12, 12, 0.6), black); }
        @media screen and (max-width: 56.25em) {
          .home_right_btn, .home_right_btn:link, .home_right_btn:visited {
            padding: .7rem 1rem;
            font-size: 1rem; } }

.reach {
  background-color: white;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 35%);
  min-width: 90vw;
  max-height: 33vh;
  position: absolute;
  top: 65vh;
  left: 5vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }
  .reach_left {
    width: 36rem;
    margin-left: 6rem; }
  .reach_mid {
    width: 30rem;
    margin-left: 8rem; }
    .reach_mid_item {
      margin-top: 1rem;
      display: flex;
      align-items: center; }
      .reach_mid_item_img {
        width: 5rem; }
      .reach_mid_item_count {
        margin-left: 2rem;
        font-size: 2rem;
        display: inline; }
  .reach_right {
    padding: 2rem; }
  .reach_img {
    width: 80%; }

.section__testimonials {
  background-color: #fcfafa;
  background-image: linear-gradient(45deg, transparent 30%, #1a1919 0%, #222121 50%);
  text-align: center;
  padding: 3rem; }

.section__testimonials__container {
  display: flex;
  align-items: center;
  min-height: 80vh; }

.mycard {
  height: 100%;
  width: 100%;
  max-width: 30rem; }

.cardtitle {
  font-weight: bold;
  color: black;
  text-align: center; }

.cardimg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-height: 6rem;
  border-radius: 9999px; }

.carddescription {
  text-align: center; }

.slider {
  width: 100%;
  min-height: 37rem;
  margin-top: 0;
  color: #000; }

.slider input {
  display: none; }

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 375px;
  perspective: 500px;
  margin-top: 5rem;
  overflow: hidden; }
  .testimonials_heading {
    font-size: 3.5rem;
    color: white; }

.testimonials .item {
  max-width: 30rem;
  border-radius: 1.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(30, 58, 138, var(--tw-border-opacity));
  top: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  padding: 30px;
  width: 45rem;
  height: 35rem;
  text-align: center;
  transition: transform 0.4s;
  /* -webkit-transform-style: preserve-3d; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer; }

.testimonials .item img {
  transform: scale(1.35);
  margin-top: 15px;
  width: 7rem;
  border-radius: 50%;
  border: 1px solid #3b344d; }

.testimonials .item p {
  color: rgba(0, 0, 0, 0.829);
  font-size: 2rem; }

.testimonials .item h2 {
  font-size: 2rem; }

.dots {
  display: flex;
  justify-content: center;
  align-items: center; }

.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413b52;
  margin: 7px;
  transition: transform 0.2s, color 0.2s; }

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
  transform: scale(2);
  background-color: #fff; }

#t-1:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5); }

#t-1:checked ~ .testimonials label[for="t-1"] {
  z-index: 4; }

#t-1:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 3; }

#t-1:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 2; }

#t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 1; }

#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(1200px) translateZ(-360px) translateY(-60px); }

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5); }

#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: #fff; }

#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5); }

#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px); }

#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3; }

#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2; }

#t-2:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1; }

#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px); }

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5); }

#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: #fff; }

#t-3:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5); }

#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px); }

#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px); }

#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3; }

#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2; }

#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px); }

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5); }

#t-4:checked ~ .dots label[for="t-4"] {
  transform: scale(2);
  background-color: #fff; }

#t-4:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5); }

#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px); }

#t-4:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px); }

#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 2; }

#t-4:checked ~ .testimonials label[for="t-4"] {
  z-index: 3; }

#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px); }

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5); }

#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: #fff; }

#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px); }

#t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 1; }

#t-5:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 2; }

#t-5:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 3; }

#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4; }

#failure {
  background-color: #ff3300;
  padding: 4px 0px 4px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem; }

.hidden {
  display: none; }

.formgroup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://source.unsplash.com/random/900×700/?worker");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 7rem; }
  .formgroup::selection {
    background: #42fa61;
    color: #fff; }

.wrapper {
  overflow: hidden;
  width: 60vw;
  background: #f7f5f3;
  margin: auto;
  opacity: 0.9;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1); }
  .wrapper .title-text {
    display: flex;
    width: 200%; }
  .wrapper .title {
    width: 50%;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px; }
    .wrapper .slide-controls .slide {
      height: 100%;
      width: 100%;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      line-height: 48px;
      cursor: pointer;
      z-index: 1;
      transition: all 0.6s ease; }
    .wrapper .slide-controls label.signup {
      color: #000; }
    .wrapper .slide-controls .slider-tab {
      position: absolute;
      height: 100%;
      width: 50%;
      left: 0;
      z-index: 0;
      border-radius: 5px;
      background: -webkit-linear-gradient(left, #45b24b, #42fa42);
      transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .wrapper .form-container {
    width: 100%;
    overflow: hidden; }
    .wrapper .form-container .form-inner {
      display: flex;
      width: 200%; }
      .wrapper .form-container .form-inner form {
        width: 50%;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

#signup:checked ~ .slider-tab {
  left: 50%; }

#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none; }

#signup:checked ~ label.login {
  color: #000; }

#login:checked ~ label.signup {
  color: #000; }

#login:checked ~ label.login {
  cursor: default;
  user-select: none; }

.form-inner form .field {
  height: 50px;
  width: 97%;
  margin-top: 2rem; }
  .form-inner form .field input,
  .form-inner form .field select {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease; }
    .form-inner form .field input:focus,
    .form-inner form .field select:focus {
      border-color: #83fcb1;
      /* box-shadow: inset 0 0 3px #fb6aae; */ }
    .form-inner form .field input ::placeholder,
    .form-inner form .field select ::placeholder {
      color: #999;
      transition: all 0.3s ease; }
    .form-inner form .field input :focus::placeholder,
    .form-inner form .field select :focus::placeholder {
      color: #b3b3b3; }
  .form-inner form .field textarea {
    resize: none; }
  .form-inner form .field input[type='file'] {
    background-color: white; }

.WarningMessage {
  text-align: left;
  font-size: 1.5rem;
  color: red;
  padding-left: 5px;
  display: none; }

#UploadImage {
  font-size: 17px;
  color: black;
  margin-bottom: 6rem; }

.Ack {
  padding-left: 0.75rem;
  margin: 1rem 0rem;
  font-size: 1.8rem; }

.form-inner form .pass-link {
  margin-top: 1.2rem; }

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px; }

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  text-decoration: none;
  padding-left: 0.45rem; }

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline; }

form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }

form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #45b276, #42fa79, #45b27f, #57fa42);
  border-radius: 5px;
  transition: all 0.4s ease; }

form .btn:hover .btn-layer {
  left: 0; }

form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer; }

input[type="radio"] {
  display: none; }

.heading-secondary--2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: orangered;
  letter-spacing: 0.2rem; }

.heading-tertiary--2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.3rem; }

.page-header {
  position: relative;
  background-image: linear-gradient(145deg, transparent 38%, #1a1919 0%, #222121 50%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.profile-container {
  position: absolute;
  top: 8vh;
  left: 30vw;
  width: 40%;
  margin: 4rem auto;
  margin: auto;
  background-color: #fff;
  padding: 3rem 3rem 4rem 3rem;
  border-radius: .4rem;
  box-shadow: 0.6rem 2px 5rem rgba(90, 88, 88, 0.63); }

.profile_basic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.profile-info {
  text-align: center; }

.star_c {
  color: #e9b015;
  font-size: 1.2rem; }

.email {
  font-size: 1.3rem; }

.img_container {
  display: block;
  background-size: cover; }

.user-img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%; }

.profile_more-info {
  display: flex; }

.col_left {
  width: 50%;
  padding-left: 8rem; }

.col_right {
  width: 50%;
  padding-left: 14rem; }

.tel {
  text-decoration: none; }

.review_heading {
  position: relative;
  padding: 1rem;
  z-index: 11111;
  text-align: center;
  background-color: #f5f1ec; }

.review_section {
  position: absolute;
  top: 30vh;
  left: 70vw; }

.wraper_name_star {
  display: flex;
  gap: 2rem; }

.star_c_review {
  color: #e9b015;
  font-size: .8rem; }

#scroll-container {
  border-radius: 5px;
  padding: 0 2rem;
  overflow: hidden;
  width: 40rem;
  left: 70%;
  height: 35rem;
  background-color: #f5f1ec;
  z-index: 11;
  border-radius: .4rem;
  box-shadow: 0 2px 20px rgba(99, 98, 98, 0.33); }

#scroll-text {
  transform: translateY(-100%);
  animation: my-animation 15s linear infinite;
  margin: 1rem; }

@keyframes my-animation {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(-500%); } }

.profile_section {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(145deg, transparent 38%, #1a1919 0%, #222121 50%);
  background-size: cover;
  background-repeat: no-repeat; }

.selecting_container {
  width: 20vw;
  background-color: rgba(53, 58, 56, 0.985);
  padding: 2rem; }

.filters {
  padding: 2rem; }

.work_type_container {
  margin: 2rem; }

.rating_container {
  margin: 2rem; }

.price_container {
  margin: 2rem; }

.search_container {
  margin: 2rem; }

.r_btn {
  display: flex;
  gap: 1.5rem;
  margin: .2rem; }
  .r_btn input[type="radio"] {
    display: inline-block; }

.c_box {
  display: flex;
  gap: 1.5rem;
  margin: .4rem; }

.star_c_r {
  color: orange; }

.s_box {
  display: flex;
  gap: 1.5rem; }
  .s_box_btn {
    padding: .2rem 1.2rem; }
